@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fa8072;
  --color-fg: #fff;
  --color-fg-muted: #777;
  --color-surface: #282828;
  --color-overflow: #efefef;
  --color-base: #101010;

  --transition-colors: color 50ms ease-in-out,
    background-color var(--transition), border-color var(--transition);
}

:root.light {
  --color-primary: #fa8072;
  --color-fg: #282828;
  --color-fg-muted: #777;
  --color-surface: #fafafa;
  --color-overflow: #aaa;
  --color-base: #efefef;
}

body {
  color: theme('colors.ui.fg');
  background: theme('colors.ui.base');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: var(--transition-colors);
}
